*{margin: 0; padding: 0;}

.btn.btn-outline-danger {
    cursor: pointer;
}

.btn.btn-outline-success {
    cursor: pointer;
}

input.search {
    width: 100%;
}

.under {
    color: #5d5444b3;
    line-height: 20px;
}

.under .icon {
    padding: 0px 25px;
    font-size: 25px;
    cursor: pointer;
}
.unique-color-dark {
    background-color: #eceff1 !important;
  }
  
  footer {
    color: #4f4f4f !important;
  }
  
  .align-items-center a{
    color: #FFFFFF !important;
  }
  
  .align-items-center a:hover{
    color: rgb(93, 228, 154) !important;
  }
  
  footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.2);
  }
  
  footer a{
    color: #4f4f4f !important;
    text-decoration: none !important;
  }
  footer a:hover{
    color: #4265d66e !important;
    text-decoration: none !important;
  }
  
  .fa-brain{
    color: yellow;
  }
  
  .fa-heart{
    color: red;
  }
  

img.logoifo {
    width: 155px;
    height: auto;
}

.footer h6 {
    color: #ffffffd6;
}

.row.tongquat {padding-top: 20px;}

small.sgin.signin:hover{
    color: #00bbfd;
}
small.sgin.signup:hover{
    color: #00bbfd;
}

small.logo1 {
    width: 110px;
    height: 119px;
    display: block;
    background-image: url(stylecss/tempsnip.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.footer {
    width: 100%;
    height: 170px;
    background: #00bbfd;
}

.footer h5 {
    color: white;
}

span.icoin {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    background: #007ab3;
    border-radius: 50%;
    line-height: 40px;
    color: white;
    margin-top: 10px;
}

p.textrv {
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    line-height: 20px;
}

span.rate-new {
    background-image: url(https://images8.content-hcs.com/wu-cont/images/rat_star.png);
    width: 79px;
    height: 15px;
    display: inline-block;
    cursor: pointer;
    margin-left: 13px;
}

.rating {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.right .wrapright h4 {
    font-size: 14px;
    font-weight: 400;
    color: #0000007d;
}

h3 {font-weight: normal;}

/* .wrapright {
    width: 566px;
    height: 189px;
    float: left;
}   ->> lÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â´ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢i ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â° ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¹Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢y neÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ */

.date {
    font-size: 12px;
    color: #00000073;
    text-align: center;
}

.name {
    width: 137px;
    font-size: 14px;
    margin: 9px 0 2px;
    text-align: center;
    font-weight: 500;
}

.pr5 {
    width: 65px;
    height: 65px;
    margin: auto;
    font-size: 20px;
    line-height: 60px;
    color: white;
    background: #00B26D;
    border-radius: 50px;
    padding-left: 26px;
    text-transform: uppercase;
}

.warpleft {
    width: 137px;
    height: 108px;
    margin-right: 25px;
    float: left;
}

.maincontent {
    padding-top: 20px;
    width: 748px;
    height: 189px;
    margin: auto;
    display: block;
    border-top: 1px solid gray;
}

.sapxep{
    width: 100%;
    height: 45px;
}
.khungnho {
    float: right;
    width: 284px;
    margin-top: 12px;
}

.content {
    width: 980px;
    height: 120px;
    border-bottom: 1px solid #e2e2e2;
}

._1search:nth-child(2){
    margin-right: 0;
}
._1search {
    margin: 20px 20px 20px 0;
    float: left;
}

label {
    font-weight: 500;
}

small.logotimkiem {
    float: right;
    opacity: 0.4;
    font-size: 18px;
}

.timkiem {
    width: 480px;
    height: 48px;
    font-size: 15px;
    line-height: 38px;
    border: 2px solid #e2e2e2;
    padding: 0 20px 2px 20px;
    opacity: 1.4;
}

.motkhoinho {
    padding: 10px 0 10px 0;
    font-size: 16px;
    display: inline-block;
}

.noidung {
    padding-top: 30px;
}
html, body{
    width: 100%;
    height: 100%;
}
.duoitieude {
    height: 183px;
    width: 100%;
    background: linear-gradient(to right, rgba(3, 155, 229, .9) 0%, rgba(0, 122, 179, .75) 27%, rgba(0, 178, 109, 1) 100%);
}

small.logo-sgin {
    background-image: url(https://images8.content-hcs.com/wu-cont/images/pre_user_icn.svg);
    width: 20px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    cursor: pointer;
}

.sginout {
    
    margin-top: 28px;
    display: block;
    position: absolute;
    right: 60px;
}
.sginout .sgin{
    font-size: 14px;
    margin-right: 16px;
    display: inline-block;
    cursor: pointer;
}


.tieude{
    height: 95px;
    border-bottom: 1px solid #80808073;
}
.logo{
    width: 64px;
    height: 70px;
    background-image: url(stylecss/tempsnip.png);
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 20px;
    cursor: pointer;
}
.search-wrap{
    font-size: 16px;
    line-height: 38px;
    border: 2px solid #e2e2e2;
    padding: 0 20px 2px 20px;
    margin-top: 20px;
    cursor: pointer;
}
input.search{
    border: none;
    opacity: 0.4;
}
.search-wrap .logofind{
    font-size: 16px;
    color: #707070;
    position: absolute;
    right: 31px;
}

.act-review {
    font-size: 1.5 rem;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
    opacity: 0.85;
  }
  
  
  
  .modal-dialog {
      max-width: 800px;
      margin: 1.75rem auto;
  }
  
  .modal-content {
    border-radius: 15px;
  }
  
  .modal-header {
    background-color: #F5F5F5;
    border-radius: 15px 15px 0px 0px;
  }
  
  .modal-header h5 {
    color: #363636;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 1.85rem;
    line-height: 1;
  
  }
  .modal-footer{
    background-color: #F5F5F5;
    color: #4A4A4A;
    border-radius: 0px 0px 15px 15px ;
  }
  .form-control {
    font-size: 1.5rem;
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    max-width: 100%;
    width: 100%;
  }
  
  .form-group label {
    color: #363636;
    font-size: 1.5rem;
    font-weight: 800;
  }
  
  input::placeholder {
    color: #c3c3c3  !important;
  }
  
  textarea::placeholder {
    color: #c3c3c3  !important;
  }
  
  .modal-footer .btn-light{
    border: 1px solid #d3c5c5c4;
    background-color: #ffffff !important;
  }
  
  .modal-footer .btn-light:hover{
    border: 1px solid #c2c2c2;
    background-color: #f3f3f3 !important;
  }
  
  .custom-select {
    display: block;
    width: auto;
  }